.searchbar {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    gap: 0.8rem;
    justify-content: center;
    margin-top: 1rem;
    background-color: #eee;
    border-radius: 50px;
    padding: 0.6rem 0.8rem;
}

.searchicon {
    color: #aaa;
}

.searchbar input {
    outline: none;
    font-weight: bold;
    font-size: 1rem;
    color: black;
    background-color: #eee;
    border: none;
}

.searchbar input::placeholder {
    font-weight: 500;
}


.searchbar input:focus {}